// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.padded {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.secret-box {
    width: 70%;
    display: grid;
    align-items: center;
    margin: auto;
    margin-bottom: 25px
}

.buttons button {
    width: 60px;
    margin-top: 15px;
}

.form {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.field div {
    height: 90%;
    width: 100%;
}

a:focus,
a:hover {
    text-decoration: none;
    background-color: transparent;
    background: none;
}