// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.padded {
    margin-left: 20px;
    margin-top: 5px;
}

.secret-box {
    width: 70%;
    display: grid;
    align-items: center;
    margin: auto;
    margin-bottom: 25px
}

.buttons button {
    width: 60px;
    margin-top: 15px;
}

.form {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.field div {
    height: 90%;
    width: 100%;
}

.navbar-item:hover {
    background-color: transparent !important;
}

.buttons {
    margin-top: 8px;
}